[flake8]
max-line-length = 88
extend-ignore = E203, W503, E501
exclude =
    .git,
    __pycache__,
    .venv,
    build,
    dist,
    src/backend/tests
per-file-ignores =
    */__init__.py: D104, F401
# flake8-annotations tweaks
# It's common to not annotate `self` or `cls`.
ignore = ANN101, ANN102
